input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
}

button:active, button:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

body {
    height: 100vh;
    background-color: #191919;
}

#root {
    height: 100%;
}
