input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
}

button:active, button:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

body {
    height: 100vh;
}

#root {
    height: 100%;
}

select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
